
<link rel='stylesheet' href='/stylesheets/style.css' />

<h1>New Message</h1>
<a href="/"><button>Return Home</button></a>
<form method="POST" action="/new">
    <label for="user">Name</label>
    <br>
    <input placeholder="Name" type="text" id="user" name="user" required>
    <br>

    <label for="text">Message</label>
    <br>
    <input placeholder="Enter a message" type="text" id="text" name="text" required>
    <br>

    <button class="submit">Submit</button>
</form>

